.navs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  border-bottom: 4px solid black;
  background-color:  #FF1801;
  position: fixed;
  top: 0;
  z-index: 3;
}

h1 {
  padding-left: 20px;
  font-size: 3rem;
}

.NavBar {
  display: flex;
  gap: 20px;
  align-items: center;
}

.NavBar > img {
  width: 80px;
}

.Links {
  display: flex;
  gap: 20px;
  margin-right: 140px;
}

.home,
.driversl,
.circuits,
.dstandings {
  color: white;
}