.root {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.home2 {
  display: flex;
}

.otherLinkH {
  width: 50vw;
}
.wrapper {
  position: relative;
  overflow: hidden;
  width: 600px;
  height: 370px; 
  border: 1px solid black;
}

.car {
  position: absolute;
  left: -600px;
  width: 250px;
  /* height: 370px; */
  -webkit-animation: slide 1.2s forwards;
  -webkit-animation-delay: 1s;
  animation: slide 1.2s forwards;
  animation-delay: 1s;
  bottom: 5%;
}

.drLinkH {
  margin-top: 105px;
  width: 100vw;
}

@-webkit-keyframes slide {
  100% { left: 20vw; }
}

@keyframes slide {
  100% { left: 20vw; }
}

@media (min-width: 768px) {
  .car {
    width: 450px;
    bottom: 1%;
  }

  @-webkit-keyframes slide {
    100% { left: 40vw; }
  }
  
  @keyframes slide {
    100% { left: 40vw; }
  }

  .drLinkH {
    margin-top: 105px;
    width: 30vw;
  }

}

