.root {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.home2 {
  display: flex;
}

.otherLinkH {
  width: 50vw;
}

.wrapper {
  position: relative;
  overflow: hidden;
  width: 600px;
  height: 370px;
  border: 1px solid black;
}

.car {
  position: absolute;
  left: -600px;
  width: 250px;
  -webkit-animation: slide 1.2s forwards;
  -webkit-animation-delay: 1s;
  animation: slide 1.2s forwards;
  animation-delay: 1s;
  bottom: 5%;
}

.drLinkH {
  margin-top: 105px;
  width: 100vw;
}

.driverTitle {
  position: absolute;
  left: 35%;
  bottom: 50%;
  color: white;
}

@-webkit-keyframes slide {
  100% { left: 20vw; }
}

@keyframes slide {
  100% { left: 20vw; }
}

@media (min-width: 768px) {
  .car {
    width: 450px;
    bottom: 1%;
  }

  @-webkit-keyframes slide {
    100% { left: 35vw; }
  }

  @keyframes slide {
    100% { left: 35vw; }
  }

  .drLinkH {
    margin-top: 105px;
    width: 60vw;
    height: 45vh;
  }

  .otherLinkH {
    width: 30vw;
  }

  .pictureContainer {
    margin-left: 20%;
  }

  .driverTitle {
    position: absolute;
    left: 45%;
    bottom: 50%;
    color: white;
  }

  .standTitle {
    position: absolute;
    bottom: 21.5%;
    left: 25%;
    color: black;
  }

  .circuitTitle {
    position: absolute;
    left: 60%;
    bottom: 21.5%;
    color: red;
  }
}
